In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

df_sample = pd.read_csv("./data/sample_edited.txt", sep=":", header=None, 
                        names=["Other_Number", "Url_Key", "Name_First", "Name_Last", "Gender",
                               "1","2","3","4","5","6","7","8","9"])

In [8]:
df_sample = pd.read_csv("../Webscrape_Data/sample_edited.txt", sep=":", header=None, 
                        names=["Other_Number", "Url_Key", "Name_First", "Name_Last", "Gender",
                               "1","2","3","4","5","6","7","8","9"])

C:\Users\Peridot of Earth\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [47]:
df_scraped = pd.read_csv('./data/scraped_data.csv')

In [48]:
print(df_scraped.shape)
df_scraped.tail()

(369, 230)

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),...,Details About Tina,Details About Layton,Details About Minga,Details About Presley,Details About Martin,Details About Genevieve,Details About Zoe,Details About Optic,Details About Hugo Eloy,Details About Mike
364,1.000140e+14,NaN,Scraper 0 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,1.000140e+14,NaN,Scrape Failed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
366,1.846154e+09,NaN,Scraper 0 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,1.846154e+09,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Mike Cervera,316.0,"Lives in San Antonio, Texas","From San Antonio, Texas",Single,Followed by 1 person,NaN,rolloff driver at Republic service of San Anto...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Mike\nNo additional details to show\nNam...
368,1.000242e+14,NaN,Scraper 0 has dibs!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

df_scraped.to_csv("../Webscrape_Data/scraped_data.csv", index = False)

## The Actual Cleaning Process

In [21]:
df_cleaned = df_scraped[~df_scraped['Name'].str.startswith("Scrape")]

In [22]:
# List of column names to merge
column_names_to_merge = [col for col in df_cleaned.columns if col.startswith('Details About ')]

# Merging the specified columns into one
df_cleaned['Details About Profile (About)'] = df_cleaned[column_names_to_merge].apply(
    lambda row: ' '.join(row.values.astype(str)).replace("nan", "").strip(" "), axis=1)

# Optionally, drop the original 'Column_' columns
df_cleaned = df_cleaned.drop(column_names_to_merge, axis=1)

In [35]:
df_cleaned["First Name"] = df_cleaned["Name"].map(lambda x: x.split(" ")[0])

In [36]:
df_cleaned["Last Name"] = df_cleaned["Name"].map(lambda x: x.strip(" ").split(" ")[-1])

In [37]:
df_cleaned = df_cleaned.rename({
    "Work and education"       : "Work & Education (About)",
    "Places lived"             : "Places Lived (About)",
    "Contact and basic info"   : "Contact and basic info (About)",
    "Family and relationships" :"Family & Relationships (About)",
    "Life events"              : "Life Events (About)"}, axis = 1)

,Url_Key,Profile Picture Link,Name,Num_Friends,Intro 1,Intro 2,Intro 3,Intro 4,Intro 5,Overview (About),...,Intro 7,Intro 8,Privacy and legal info,Profile transparency,Intro 9,Intro 10,Intro 11,Details About Profile (About),First Name,Last Name
0,596897507,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Sarah Murphy,444.0,Went to Ashland High School,"Lives in San Antonio, Texas","From San Antonio, Texas",Married to Matt Murphy,Joined October 2007,No workplaces to show\nWent to Ashland High Sc...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nMatt Murphy\nMarried to Matt Mur...,Sarah,Murphy
2,1456394131,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,Alida Colborn Canion,92.0,Worked at USAA,Studied at UTSA,Went to Roosevelt High School,NaN,NaN,Worked at USAA\nStudied at UTSA\nGraduated in ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Alida\nNo additional details to show\nNa...,Alida,Canion
3,100016005185942,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Austin Anthony Duerr (Texas Tony),170.0,Tow Operator at AAA,Valet Attendant at Towne Park,Former Delivery at DoorDash,Went to La Vernia ISD,"Lives in Somerset, Texas",Tow Operator at AAA and Valet Attendant at Tow...,...,Pronounces name AWS-ten AN-thuh-nee DOO-er,Joined March 2017,NaN,NaN,NaN,NaN,NaN,About Austin\nNo additional details to show\nN...,Austin,Tony)
4,100009325868432,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,George Gomez,688.0,Went to Lanier High School (San Antonio),"Lives in San Antonio, Texas","From San Antonio, Texas",Single,NaN,No workplaces to show\nWent to Lanier High Sch...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About George\nNo additional details to show\nN...,George,Gomez
6,1332364398,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Maria Garza,105.0,Studied Accountancy at Lincoln School of Commerce,Went to Lincoln Northeast High School,Married,NaN,NaN,No workplaces to show\nStudied Accountancy at ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Maria\nNo additional details to show\nNa...,Maria,Garza
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
583,528897913,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Claudia Ma. Laporta,374.0,Went to Instituto Rudyard Kipling,NaN,NaN,NaN,NaN,No workplaces to show\nWent to Instituto Rudya...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,About Claudia\nNo additional details to show\n...,Claudia,Laporta
587,1293337805,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.1816...,Roger Buchhorn,238.0,CFO at Drash Contracting Company LLC,Studied Accountancy at Texas Lutheran University,Went to Victoria Stroman High School,Married to Beverly Buchhorn,NaN,CFO at Drash Contracting Company LLC\nMay 2013...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nBeverly Buchhorn\nMarried to Bev...,Roger,Buchhorn
591,100022936776921,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.3049...,Rodolfo Reyes,24.0,NaN,NaN,NaN,NaN,NaN,No workplaces to show\nNo schools to show\nNo ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nNo relationship info to show\nFa...,Rodolfo,Reyes
595,1835068298,https://scontent-sjc3-1.xx.fbcdn.net/v/t1.6435...,Benjamin Stanush,961.0,Electrical manager at Diamondback Electrical S...,Studies Construction Business Management at Ro...,Went to La Vernia ISD,"Lives in New Braunfels, Texas","From La Vernia, Texas",Electrical manager at Diamondback Electrical S...,...,Joined June 2009,NaN,NaN,NaN,NaN,NaN,NaN,About Benjamin\nI'm a Journeymen Electrician. ...,Benjamin,Stanush
608,1497157945,https://scontent-sjc3-1.xx.fbcdn.net/v/t39.308...,Angela Hogan Brown,192.0,Studied Business Admin w/specialization in Per...,Went to Blessed Sacrament Academy,"Lives in San Antonio, Texas","From San Antonio, Texas",Divorced,No workplaces to show\nStudied Business Admin ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Relationship\nDivorced\nFamily members\nCassid...,Angela,Brown

In [ ]:
df_cleaned("../Webscrape_Data/Terra_Riley_Facebook_Test_Final.csv", index = False)

In [ ]:
dict_one = {"Unique" : "A", "Column_Jake" : "Jake is really cool", "Column_Bake" : "", "Column_Lake" : ""}
dict_two = {"Unique" : "B", "Column_Jake" : "", "Column_Bake" : "Baking Rocks My Socks", "Column_Lake" : ""}
dict_tre = {"Unique" : "C", "Column_Jake" : "", "Column_Bake" : "", "Column_Lake" : "The Lake is my favorite place to go"}

In [ ]:
# Rename Column Options
new_names = ['list of new names in exact order']
new_names = {'old_name': 'new_name'}
df.columns = new_names

df.rename({
    'Old Name' : 'New_name'
}, axis = 1, inplace = True)

In [ ]:
df[''].fillna()

In [ ]:
mask = df['column'] <>!= something
df = df[mask]

In [ ]:
df.drop([], axis = 1)#inplace = True)

In [ ]:
def map_funct(cell):
    return cell

In [ ]:
df[''] = df[''].map(lambda x:)#map_funct(x))

In [ ]:
#org_qualitative_col  = df['org_qualitative_col']
df = pd.get_dummies(df)
#df['org_qualitative_col'] = org_qualitative_col

In [ ]:
# Natural Language Processing libraries, initiations and functions
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.stem import WordNetLemmatizer
from nltk import word_tokenize
from nltk.corpus import stopwords
from sklearn.decomposition import LatentDirichletAllocation
import re # Delete this if scraping in same notebook

def preprocess(text):
    text = re.sub(r'[^a-zA-Z]',' ', text.lower())
    tokens = word_tokenize(text)
    lemmer = WordNetLemmatizer()
    stop_words = stopwords.words("english")
    return " ".join([lemmer.lemmatize(word) for word 
                     in tokens if len(word) > 1 and not word in stop_words])
cvec = CountVectorizer(analyzer = "word",
                       min_df = 2,
                       preprocessor = preprocess,
                       stop_words = 'english')
#pd.DataFrame(cvec.fit_transform(df['COLUMN']).todense(), columns=cvec.get_feature_names())

def LDA(input_item, num_topics = 3, num_words = 5, pre_cveced = False):
    # Cols are the words. Rows are the topics
    topic_lists = []
    lda = LatentDirichletAllocation(n_components=num_topics, learning_method='online')
    
    if  pre_cveced == False: # For inserting a column and automatically cvecing things in function.
        lda.fit(cvec.fit_transform(input_item))
    elif pre_cveced == True: # For inserting a pre-cveced dataframe.
        lda.fit(input_item)
    else:
        print("Not good pre_cveced option given.")
    for ix, topic in enumerate(lda.components_):
        topic_lists += [[cvec.get_feature_names()[i] for i 
                         in lda.components_[ix].argsort()[:-num_words - 1:-1]]]

    return pd.DataFrame(topic_lists, columns=[ 'word_' + str(i) for i 
                                    in range(1, num_words+1)], index=range(1, num_topics + 1)) 


def Sentamentize(text):
    return TextBlob(str(text)).sentiment.polarity

In [ ]:

df.dtypes# Return column data types
df.describe() #(returns count, mean, std, min, and %iles)???
df.info()
df['col1'].std() # Standard Deviation


# Main ways to adjust indexes
df.reset_index(inplace=True)
df.set_index('column', inplace = True)
df = df.reindex(['cols'], axis = 1)



# Concat
the_dfs = [df_one,df_two]
df_main = pd.concat(the_dfs, sort=False, axis = 1)

# Dropping columns with "Errors"
mask = df['col'] == 'Error'
df.drop(df[mask].index, inplace = True)

# Dropping Duplicates
df.drop_duplicates(inplace = True)

# Map Function Starter
def map_funct(cell):
    return cell
df['column'] = df['column'].map(lambda x: map_funct(x))


# Masks
mask = df['column'] <=> something 
df = df[mask]

df[~mask] (Select opposite of the mask)
df[(df['col1'] > num) & (df['col2'] < num)]
df[(df['col1'] > num) | (df['col2'] > num)]
df[ df['col'].isin([num, num]) ] #return rows with specific values(?)

### EDA

In [ ]:
# Basic EDA

df.dtypes                           # Data Types of cols
df.column.unique()                  # Unique Values in col
df.describe().T                     # Summary Stats
df.info                             # Info
df['column'].value_counts(normalize=True)

In [ ]:
| Thing             | Main Matplotlib               | Sub Plt               | Seaborn                           |
|-------------------|-------------------------------|-----------------------|-----------------------------------|
| Idea              | + to plt each line            |fig, ax = plt.subplots(ncols, nrows) (ax[#,#] for ea plt)| |
| Bar               | plt.bar(x, height)            |                       |                                   |
| Histagram         | plt.hist(x, bins)(Lists Args) |                       |                                   |
| Scatter           | plt.scatter(x, y)    (Args)   |                       |                                   |
| Line Graph        | plt.plot([y's_ea_x(#,#)(#,])  | ax[#]plot()           | sns.lineplot(x,y)(Args)           |
| FacetGrid (Chi2)  |                               |                       | sns.FacetGrid(df, col, row)       |
| ...define inr plts|                               |                       |.map(plt.graph, bins, range)       |
| X/Y Labels        | plt.zlabel("")                | ax[#].set_xlabel()    |                                   |
| Title             | plt.title("")                 | ax[#].set_title()     |                                   |
| Figure Size       | plt.figure(figsize)           | plt.subplots(figsize) |                                   |
|Customize X/Y Ticks| plt.zticks([labels], rotation)|
| Add a Line        | plt.axvline(x)                |
| Set Z Value Limit | plt.gca().set_zlim([#,#])     |
| Add Legend        | plt.legend()                  |


The six "lessons" of visualizing data.
 - Lesson 1: Understand the context. (Who, What, How)
 - Lesson 2: Choose an appropriate visual display. (What type of graph?)
 - Lesson 3: Eliminate clutter. (What can I delete or make more subtle?)
 - Lesson 4: Focus attention where you want it. (How do I emphasize important things?)
 - Lesson 5: Think like a designer. (How do I organize my visualization?)
 - Lesson 6: Tell a story! (How do I communicate my visualization?)


-------------------------------------------

## Set Up Options

# import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Color Options
colors = {'blue': '#729ECE',
          'brown': '#A8786E',
          'green': '#67BF5C',
          'grey': '#A2A2A2',
          'orange': '#FF9E4A',
          'pink': '#ED97CA',
          'purple': '#AD8BC9',
          'red': '#ED665D',
          'teal': '#6DCCDA',
          'yellow': '#CDCC5D'}

# Style Options
sns.set_style('darkgrid')
sns.set_style('whitegrid')
plt.style.use('fivethirtyeight')


# Basic Non-Visual EDA

df.dtypes                           # Data Types of cols
df.column.unique()                  # Unique Values in col
df.describe().T                     # Summary Stats
df.info                             # Info
df['column'].value_counts(normalize=True)

# Correlations between two seperate columns w/o a whole thing
print(np.corrcoef(df['column_1'].values, df['column_2'].values))

# SCATTER


## PLT
plt.figure(figsize=(10, 10))
plt.scatter(y = df['column_one'],
            x = df['column_two'],
            color = colors);

## PD
df.plot('math', 'num_awards', kind = 'scatter')


## SNS Dirty
axes = plt.gca()
axes.set_xlim([-1,35])
axes.set_ylim([-1,35])
sns.scatterplot(df['column_one'], df['column_two'], hue= df['column_three'], alpha = 0.1);

# BOXPLOT

## SNS
sns.boxplot(df['column'],
            data = df
                orient='v' or 'h',
                fliersize=8,
                linewidth=#,
                notch = True,
                saturation=0.5,
                ax=ax,
                by = "column?");

# LINEPLOT

sns.lineplot(data = df);

====================================================
# HISTAGRAM

## PLT
plt.hist(df['column'], bins = 10, color='g', alpha = 0.1);
plt.xlabel("Label", position = (0,0), ha = 'left', color = 'grey') # (x,y)
plt.ylabel("label", position = (0, 1), ha = 'right', color = 'grey'); # (x,y);

## PLT.plot
figure, ax = plt.subplots(nrows = 2, ncols = 1, figsize = (15,15))
test_df['column_one'].plot(ax = ax[0], kind = 'hist')
test_df['column_two'].plot(ax = ax[1], kind = 'hist');

## PD
df.plot(x='col1', y='col2', title="Title")
df.hist('col');

## SNS Countplot
sns.countplot(raw_df['col']);
##Also
sns.countplot(x="col", data=df);

------------
# Other Example DIRTY
plt.hist(df['col1'],bins= len(df['col1'].unique()));


====================================================
# BARPLOT

## PLT
plt.figure(figsize = (16,6))
plt.bar(height = df['Column?'],  # List of numbers?
        x = df.columns);

## SNS
sns.barplot(data = df,
            x = "column_one",
            y = "column_two");




====================================================
# PAIRPLOT

sns.pairplot(df, kind = "reg", 
             hue = 'column',
             plot_kws = {'line_kws' : {'color' : 'red'}, 
                         'scatter_kws' : {'alpha' : 0.1}})
             # Alt
             # plot_kws={'alpha': 0.05});

# With specific rows, only
sns.pairplot(data=temp_df,
            x_vars=['col1'],
            y_vars=['col2'])


====================================================
# HEATMAP

# SNS
#plt.figure(figsize= (9,9))
sns.heatmap(df.corr(), 
            cbar=False, 
            linewidths= .01, 
            linecolor='black', 
            cmap=sns.color_palette("Purples"),
            annot=True);


=======================================================
# Jointplot
sns.jointplot(y_test, lin_reg.predict(X_test))

=======================================================
# Facet Grid
Grid = sns.FacetGrid(df, col="Col1", row="col2", margin_titles=True)
Grid.map(plt.hist,'col2?', bins = num, range = (num,num));

=======================================================
# Graph Alterations
# Colors: plt.colors.cnames

# For layering on top:
plt.hist(df['column_1'], color='g')
plt.hist(df['column_2'], color='b')

# For layering next to:
fig, ax = plt.subplots(2, 
                    sharex = True,  # Scale x together
                    sharey = True,    
                   figsize = (1,1)) # Size
ax[0].hist(df['column_1'],          # 
           bins = 10,               # Bins
           color='b',               # Color
           alpha = 0.5,             # Transparancy
           label = 'col_1')         # For .legend()
ax[1].hist(df['column_2'])          # 

# Subplot Example

fig, axes = plt.subplots(3, figsize = (20,10))
sns.countplot(df['col'], ax= axes[0])
sns.countplot(df['col'], ax = axes[1])
sns.countplot(df['col'], ax = axes[2]);

# Labels for Words
plt.xlabel("measure",               # Alt: .ylabel
           position = (0,0),        # (x-pos, y-pos)?
           ha = 'left',             # Horizontal
           color = 'grey') # (x,y)

plt.legend()
plt.title()                         # Title ~= Subtitle
plt.suptitle("subtitle\n.",         # Subtitle
             position = (0,1),      # Position
             ha = 'left',           # Horizontal
             fontsize=16,           # Size, Font
             va = 'top');           # Vertical


# Shifting Graph Coordinates (in a Scatter plot)
axes = plt.gca()
axes.set_xlim([num_one,num_two])
axes.set_ylim([num_one,num_two])
sns.scatterplot(df['column_one'], df['column_two']);